/* write your override styles here */
/*#wall div{
  display: none;
}

#tag-3{
  display: none;
}

.parent div[id="tag-4"]
}
*/
#wall .tag-1{
  display: none;
}

#wall div #tag-2 {
  display: none;
}
